
.bgc{
    background-color: rgba(245,245,250);
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
}
.model{
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    margin:0 auto; 
}
.model-head{
    text-align: center;
    margin-top:40px;
    font-size: 20px;
    font-weight: 800;
}
.model-body{
    display: flex;
    margin-top:100px;
    align-items: center;
    justify-content: center;
    position:relative
}
.model-body-input{
    height: 50px;
    border-radius: 20px;
    padding-left:30px ;
    width: 250px;
    box-sizing: border-box;
    position:relative
}
.img{
    width: 20px;
    height: 20px;
    position: relative;
    right:240px
}