
.bgc{
    background-color: rgba(245,245,250);
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
}
.model{
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    margin:0 auto; 
}
.model-head{
    text-align: center;
    margin-top:40px;
    font-size: 20px;
    font-weight: 800;
}
.model-body{
  
    margin-top:100px;
 
}
.username{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
} 
.pwd{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top:20px
}
.model-body-input{
    width: 300px;
    height: 40px;
    outline: none;  
    border-radius: 20px;
    padding-left:40px ;
    box-sizing: border-box;
}
input{
    display: flex;
    justify-content: center;
    border:1px solid #e7e7e7
}
.img{
    width: 20px;
    height: 20px;
    position: relative;
    right: 290px;
    /* right:290px */
}
.model-end{
    width: 300px;
    background-color: rgba(50,145,248);
    letter-spacing: 30px;
    border-radius: 20px;
    padding: 10px 0px;
    text-align: center;
    color:white;
    margin-top:40px;
    display: flex;
    justify-content: center;
}